.panel-default
  %p= 'Number of correct answers: ' + @lesson.correct_answers.to_s
  %p= 'Number of empty answers: ' + @lesson.empty_answers.to_s
  %p= 'Number of wrong answers: ' + @lesson.wrong_answers.to_s
