.panel-default
  %p= 'Number of answers: ' + @lesson.number_of_answers.to_s
  %p= 'Number of correct answers: ' + @lesson.correct_answers.to_s
  %p= 'Number of empty answers: ' + @lesson.empty_answers.to_s
