= content_for :header do
  Lesson

%p#previous-question qqq
%p#your-answer qqq
%p#correct-answer qqq
%p#question qqq
%p#number-of-questions qqq
%p#number-of-correct qqq


%button#check-answer Question
%input#answer{:type => "text"}
