$('#edit').remove();
$('<tr id="edit"><td colspan="8"><%= j render('form', card: @card) %></td></tr>').insertAfter('#c<%= @card.id %>');
$('<tr id="edit"><td colspan="8"><%= j render('form', card: @card) %></td></tr>').insertAfter('#a<%= @card.id %>');
