.row
  .header
    .container
      %h1= yield :header
      .row
        - flash.each do |key, value|
          - h = {success: 'success', error: 'danger', notice: 'info'}
          %div{class: "alert alert-#{h[key.to_sym]}"}= value
