.row
  .nav.navbar.navbar-inverse.navbar-static-top
    .container
      .navbar-header
        = link_to "<h1>Szybka<strong>Nauka</strong></h1>".html_safe , root_path, class: "navbar-brand"
      %ul.nav.navbar-nav.navbar-right
        %li.nav-item
          = link_to "<i class='fa fa-inbox' aria-hidden='true'></i> Decks".html_safe, decks_path, class: "nav-link"
  
